.container {
  max-width: 1170px;
}
body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  scroll-behavior: smooth;
  color: #9f9f9f;
  background: #0F0F0F !important;
  line-height: 19.2px;
}
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

button {
  background:#323232;
  color: #fff;
}
button:hover {
  color:#323232;
  background: #fff;
}

@media (max-width: 1090px)
{
.container {
    padding: 0 20px;
}
}